@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

:root {
  --fel-color-primary: #4c0033;
  --fel-color-secondary: #790252;
  --fel-color-tertiary: #af0171;
  --fel-color-extra: #e80f88;

  --fel-fs-h1: 2.8rem;
  --fel-fs-filter-button: 1.4rem;

  --fel-fc-text: white;
  --fel-fc-link: rgb(153, 153, 153);
}

p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
}

.grid-container {
  display: grid;
}

.flex-container {
  display: flex;
}

.content {
  grid-template-areas:
    "header header  header  header  header  header  header"
    "aside  main    main    main    main    main    main"
    "footer footer  footer  footer  footer  footer  footer";
}

.main-header {
  background-color: var(--fel-color-primary);
  color: var(--fel-fc-text);
  font-size: var(--fel-fs-h1);
  text-align: center;

  grid-area: header;
}

.filter-sidebar {
  flex-direction: column;
  background-color: var(--fel-color-secondary);

  grid-area: aside;
}

.filter > button,
.card-button > button {
  width: 100%;
  background-color: var(--fel-color-tertiary);
  font-size: var(--fel-fs-filter-button);
}

.filter > button:hover,
.card-button > button:hover {
  background-color: var(--fel-color-extra);
}

.filter > button:active,
.card-button > button:active {
  background-color: var(--fel-fc-text);
}

main {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px;

  grid-area: main;
}

.main-footer {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: var(--fel-color-primary);
  color: white;

  grid-area: footer;
}

.card {
  flex-direction: column;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
}

.card-img > img {
  max-width: 300px;
}

.card * {
  text-align: center;
}

footer a:link,
footer a:visited {
  color: var(--fel-fc-link);
}

@media screen and (max-width: 1200px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}
